<!--<html>
  <div class="container">
    <h1>회원가입</h1>
  <form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <p>아이디</p>
    <input type="text" name="username">
    <br>
    <p>비밀번호</p>
    <input type="password" name="password">
    <br>
    <p>비밀번호 확인</p>
    <input type="password" name="confirm">
    <br><br>
    <input type="submit" value="회원가입">
  </form>

</html>-->
<!DOCTYPE HTML>
{% load static %}
<html>
  
	<head>
		<title>WELCOME TO I-FIT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{% url 'main:main' %}" class="logo"><strong>I-FIT</strong> 'Recommend clothes size to users WebSite'</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<div class="container">
                      <h1>회원가입</h1>
                    <form method="POST" action="{% url 'accounts:signup' %}">
                      {% csrf_token %}
                      <p>아이디</p>
                      <input type="text" name="username">
                      <br>
                      <p>비밀번호</p>
                      <input type="password" name="password">
                      <br>
                      <p>비밀번호 확인</p>
                      <input type="password" name="confirm">
                      <br><br>
                      <input type="submit" value="회원가입">
                    </form>
									</div>
								</section>

							

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts type="text/css" -->
			<script src="static/js/jquery.min.js" type="text/js"></script>
			<script src="static/js/browser.min.js" type="text/js"></script>
			<script src="static/js/breakpoints.min.js" type="text/js"></script>
			<script src="static/js/util.js" type="text/js"></script>
			<script src="static/js/main.js" type="text/js"></script>

	</body>
</html>


